.with-antd .ant-input {
    width: auto;
}

.with-antd .rule-remove,
.with-antd .ruleGroup-remove {
    float: right;
}

.with-antd .ruleGroup-addRule,
.with-antd .ruleGroup-addGroup,
.with-antd .ruleGroup-notToggle {
    margin-left: 0.5rem;
}

.ruleGroup .rule, 
.ruleGroup .ruleGroup {
    margin-top: 0.5rem;
}

.ruleGroup {
    padding: 0.5rem;
    border: 1px solid #7f81a2;
    border-radius: 4px;
    background: rgba(0, 75, 183, 0.2);
}


.ruleGroup .rule,
.ruleGroup .ruleGroup {
      margin-top: 0.5rem;
      margin-left: 0.5rem;
}

.ruleGroup .ruleGroup-combinators.betweenRules {
    margin-top: 0.5rem;
}

.ruleGroup .ruleGroup-notToggle {
    margin-right: 0.5rem;
}


.query-result {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid black;
    background-color: rgba(0,0,0, 0.1)
}