
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;/*calc(10px + 2vmin)*/
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  /* background-color: #f2f3ee !important; */
  /* font-size: 11px  !important; */
}

.login-page .MuiInputLabel-filled.MuiInputLabel-shrink {
  transform: translate(56px, 10px) scale(0.75);
}

.panel-position {
  float: left;
  z-index: 1030;
  position: absolute;
  box-shadow: 3px 1px 10px 0 rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  clear: both;
  /* top: 32px; */
  /* left: 42px; */
  margin-top: 0px;
  margin-left: 0px;
}

button:focus {
  outline: 0 !important;
}

.box-panel-body .MuiTypography-body1 {
  font-size: 11px; 
  /* 13 */
}

.MuiAccordionSummary-root {
  min-height: 40px !important;
}

.MuiAccordionSummary-root.Mui-expanded {
  min-height: 40px !important;
}

.group-column-table th.MuiTableCell-head {
  text-align: center;
}


.MuiToggleButton-root.Mui-selected {
  background-color: rgba(0, 0, 0, 0.07) !important;
}

a[href^="http://maps.google.com/maps"]
{
  display: none !important;
}
a[href^="https://maps.google.com/maps"]
{
  display: none !important;
}

.gmnoprint a,
.gmnoprint span,
.gm-style-cc {
  display: none;
}
.gmnoprint div {
  background: none !important;
}

/* .customSliderWithLabelDisplayed span [class^="PrivateValueLabel-circle"] {
  color: #fff;
  padding: 4px 8px;
  font-size: 0.625rem;
  max-width: 300px;
  word-wrap: break-word;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.4em;
  border-radius: 4px;
  z-index: 1;
  width: auto;
  height: 22px;
  display: flex;
  background-color: rgba(97, 97, 97, 0.9);
  transform: none;
}

.customSliderWithLabelDisplayed span [class^="PrivateValueLabel-label"] {
  transform: none;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.ProjectDraggable .MuiButton-label {
  justify-content: flex-start;
}
.ProjectDraggable .MuiButton-root {
  text-transform: unset;
}
.ProjectDraggable .MuiButtonGroup-groupedTextVertical:not(:last-child) {
  border-bottom: 0px;
}
.ProjectDraggable .MuiDialogContent-root {
  padding: 0px 12px;
  min-height: 135px;
}
.ProjectDraggable .MuiDialogTitle-root {
  padding: 10px 20px;
}
.ProjectDraggable .MuiDialogActions-root {
  padding: 0px;
}
.ColorWell.MuiInputLabel-outlined.MuiInputLabel-shrink {
  margin-top: 0px;
}
.MuiAutocomplete-inputRoot .MuiAutocomplete-input {
  font-size: 11px;
  /* 13 */
}

.no-suggestions {
  color: #999;
  padding: 0.5rem;
}

.suggestions {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14),
    0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  z-index: 1;
  /* position: absolute; */
  background-color: white;
  border: 1px solid #999;
  list-style: none;
  margin-top: -9px;
  overflow-y: scroll;
  margin-bottom: 0;
  padding-left: 0;
  max-height: 300px;
  width: 160px;
}

.suggestions li {
  padding: 0.5rem;
  cursor: pointer;
}

.suggestion-active {
  background-color: rgba(0, 0, 0, 0.04);
  cursor: pointer;
}
.suggestions li:hover {
  background-color: rgba(0, 0, 0, 0.08);
  cursor: pointer;
}

.suggestions li:not(:last-of-type) {
  /* border-bottom: 1px solid #999; */
}
#suggestion-popover .arrow {
  display: none;
}
#UserDialog .MuiDialog-paperScrollBody {
  padding: 20px;
}

#UserDialog .MuiDialog-paperWidthSm {
  max-width: 670px;
}