/* .site-layout {
    min-height: 1500px;
} */

.middle-container {
    height: 40px;
    display: flex;
    align-items: center;
}

.header-divider {
    margin: 0;
}


.site-layout .site-layout-background {
    background: #fff;
    padding: 0 16px;
    height: auto !important;
}

.sub-container {
    background-color: #fff;
    text-align: center;
}

.logo-container {
    display: flex;
    align-items: center;
}

.account-container {
    display: flex;
    align-items: center;
}



  
